<%- include('../partials/headera') %>

<form id="newPost" action="/professionals/update/<%= list.id %>?_method=PUT" method="POST" >
    <input type="text" name="title" value="<%= list.title %>">
    <input type="text" name="content" value="<%= list.content %>" >
    <input id="postSub" type="submit" value="Post">
</form>

<%- include('../partials/footera') %>