<!DOCTYPE html>
<html>
  <head>
    <title>Hi professionals</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi professionals</h1>
    <a href="/professionals/new">post a new listing</a>
    <br>
<a href="/professionals/lists">See all listings</a>
<br>

    <p> <ul class="right">
      <li>
      <% if (professional) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
      </li>
    </ul></p>
    <% if (professional) { %>
      <div class="myLists">
        <h2>My Listings</h2>

          <% listings.forEach( function(list, i){ %>
            -------------------------
            <form id="myPost" action="/<%= list._id %>?_method=DELETE" method="POST">
              <p>Title: <%= list.title%></p>
              <p>Category: <%= list.category %></p>
              <p><%= list.content%></p>
              <p>this is the listings id <%= list._id %></p>
              <br>
              <p>Created at <%= list.createdAt %></p>
              <input id="delSub" type="submit" value="del">
              <br>
            </form>
            <a href="/professionals/<%= list._id %>/edit">Edit</a>
          <br>
          -------------------------
            <br><br><br>

          <% }); %>
      </div>
      <% } %>



  </body>
</html>


