Test
<br>
<a href="new">post a new listing</a>
<a href="lists">See all listings</a>
<a href="myLists">See my listings</a>
<br><br>

      <h1>Hi <%= name %></h1>
      <% if (professional) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/anon/auth/google">OAUTH Login</a>
      <% }; %>
      <br>
      <br>
      1
      <%= professionals %>
      <br><br>
      2
      <%= professional %>
      3
      <%= name %>
      4
      <%= email %>